In [76]:
import pandas as pd

df = pd.read_csv('/Users/davidkatilius/Documents/Raw_Datasets/IMDB/title.basics.tsv', sep='\t')
pd.set_option('display.max_columns', None)

df.head()

/var/folders/vb/t35ftt3d30b0gf_9v37z7st80000gn/T/ipykernel_14156/4112903750.py:3: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/davidkatilius/Documents/Raw_Datasets/IMDB/title.basics.tsv', sep='\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [77]:
df.titleType.unique()

array(['short', 'movie', 'tvEpisode', 'tvSeries', 'tvShort', 'tvMovie',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [78]:
df.startYear.unique()

array([1894, 1892, 1893, 1895, 1896, 1898, 1897, 1900, 1899, 1901, 1902,
       1903, 1905, 1904, 1912, 1907, 1906, 1908, 1910, 1909, 1914, 1911,
       1913, 1915, 1919, 1916, 1917, 1918, 1936, 1925, 1920, 1922, 1921,
       1923, 1924, 1928, 2019, 2021, 1926, 1927, 1929, 2000, 1993, 1935,
       1930, 1942, 1934, 1931, 1932, 1939, 1937, 1933, 1950, 1938, 1951,
       1945, 1946, 1940, 1944, 1949, 1947, 1941, 1952, 1970, 1957, 1943,
       1959, 1948, 2001, 1953, 1954, 1965, 1983, 1980, 1973, 1961, 1995,
       1955, 1962, 1958, 1956, 1977, 1960, 1964, 1967, 1968, 1963, 1986,
       1971, 1969, 1972, 1966, 1976, 1990, 2020, 1979, 1974, 1978, 1981,
       1988, 1975, 1989, 2014, '1971', '1970', '1968', '1972', '1969',
       '1985', '1973', '\\N', '1981', '1974', '1976', '2009', '1980',
       '1995', '1986', '2006', '1965', '1987', '1975', '1978', '1967',
       '1990', '1977', '2010', '2018', '1979', '1989', '1988', '1984',
       '1966', '1983', '1982', '1992', '1991', '1952', '1963', '2022',
       '2001', '1961', '1994', '1993', '1964', '1957', '1999', '2019',
       '2005', '1953', '2004', '1998', '2020', '1947', '2016', '2002',
       '1997', '1959', '1996', '2017', '2000', '1945', '1956', '2021',
       '2013', '2003', '1955', '1949', '2008', '2007', '1960', '1930',
       '1938', '1929', '1944', '1935', '1962', '1919', '1951', '1914',
       '1954', '1958', '1907', '1942', '1918', '1943', '1921', '1927',
       '1941', '1939', '1940', '1937', '1950', '1946', '1916', '1948',
       '1934', '1912', '1911', '1926', '1933', '1936', '1925', '1932',
       '1928', '1917', '1920', '1931', '1913', '1895', '1922', '1923',
       '1924', '1900', '1908', '1915', '1910', '1897', '1905', '1909',
       '1903', '1902', '1901', '1906', '1904', '1898', '1896', '1899',
       '2012', '2023', '2014', '2015', '2011', '1894', '2024', '1892',
       '1893', '1891', '1888', '1890', '1889', '2025', '2027', '2026',
       '2028', '1878', '1877', '1882', '1881', '2029', '1887', '1874',
       '1883', '1885'], dtype=object)

In [79]:
print(df.shape)

(9093299, 9)

In [80]:
movies_from_1950 = df[(df['titleType'] == 'movie') & (df['startYear'] != '\\N')]
print(movies_from_1950.head())
print(movies_from_1950.shape)

        tconst titleType                 primaryTitle  \
8    tt0000009     movie                   Miss Jerry
498  tt0000502     movie                     Bohemios
570  tt0000574     movie  The Story of the Kelly Gang
587  tt0000591     movie             The Prodigal Son
610  tt0000615     movie           Robbery Under Arms

                   originalTitle isAdult startYear endYear runtimeMinutes  \
8                     Miss Jerry       0      1894      \N             45
498                     Bohemios       0      1905      \N            100
570  The Story of the Kelly Gang       0      1906      \N             70
587            L'enfant prodigue       0      1907      \N             90
610           Robbery Under Arms       0      1907      \N             \N

                         genres
8                       Romance
498                          \N
570  Action,Adventure,Biography
587                       Drama
610                       Drama
(535173, 9)

In [81]:
print(df.shape)

(9093299, 9)

In [82]:
movies_from_1950_1 = df[(df['titleType'] == 'movie') & (df['startYear'] != '\\N')]
print(movies_from_1950_1.head())
print(movies_from_1950_1.shape)

        tconst titleType                 primaryTitle  \
8    tt0000009     movie                   Miss Jerry
498  tt0000502     movie                     Bohemios
570  tt0000574     movie  The Story of the Kelly Gang
587  tt0000591     movie             The Prodigal Son
610  tt0000615     movie           Robbery Under Arms

                   originalTitle isAdult startYear endYear runtimeMinutes  \
8                     Miss Jerry       0      1894      \N             45
498                     Bohemios       0      1905      \N            100
570  The Story of the Kelly Gang       0      1906      \N             70
587            L'enfant prodigue       0      1907      \N             90
610           Robbery Under Arms       0      1907      \N             \N

                         genres
8                       Romance
498                          \N
570  Action,Adventure,Biography
587                       Drama
610                       Drama
(535173, 9)

In [102]:
df2 = movies_from_1950_1[(movies_from_1950_1['startYear'].astype('int') >= 1950)]
print(df2.head())
print(df2.shape)

          tconst titleType                 primaryTitle  \
11636  tt0011801     movie             Tötet nicht mehr
13079  tt0013274     movie  Istoriya grazhdanskoy voyny
15174  tt0015414     movie       La tierra de los toros
15482  tt0015724     movie                Dama de noche
21267  tt0021617     movie            Arizona Territory

                     originalTitle isAdult startYear endYear runtimeMinutes  \
11636             Tötet nicht mehr       0      2019      \N             \N
13079  Istoriya grazhdanskoy voyny       0      2021      \N            133
15174       La tierra de los toros       0      2000      \N             60
15482                Dama de noche       0      1993      \N            102
21267            Arizona Territory       0      1950      \N             56

                      genres
11636           Action,Crime
13079            Documentary
15174                     \N
15482  Drama,Mystery,Romance
21267                Western
(465226, 9)

In [103]:
movies_from_1950_1.startYear.unique()

array([1894, 1905, 1906, 1907, 1908, 1909, 1910, 1912, 1911, 1913, 1915,
       1914, 1919, 1916, 1917, 1936, 1925, 1918, 1920, 1922, 1921, 1924,
       1923, 1928, 2019, 2021, 1926, 1927, 1929, 2000, 1993, 1935, 1930,
       1942, 1932, 1931, 1934, 1939, 1937, 1933, 1950, 1938, 1951, 1946,
       1940, 1944, 1947, 1941, 1952, 1970, 1957, 1943, 1948, 1945, 2001,
       1949, 1953, 1954, 1965, 1983, 1980, 1973, 1961, 1955, 1962, 1958,
       1956, 1977, 1964, 1960, 1959, 1967, 1968, 1963, 1971, 1969, 1972,
       1966, 1976, 1990, 1979, 1981, 2020, 1975, 1978, 1989, 1974, 1986,
       '1971', '1970', '1972', '1973', '1969', '1981', '1974', '1976',
       '1968', '1995', '1986', '2006', '1987', '1975', '1965', '1978',
       '1967', '1990', '1980', '1985', '2018', '1977', '1989', '1979',
       '1984', '1966', '1982', '1988', '1983', '1991', '1963', '2001',
       '1961', '1994', '1993', '1964', '1957', '2019', '1992', '2005',
       '1953', '2004', '1998', '2020', '1947', '2016', '2002', '1996',
       '2017', '1997', '2000', '1945', '1956', '2021', '1999', '1955',
       '1949', '2008', '2009', '2003', '2007', '2022', '1930', '1938',
       '1959', '1960', '1944', '1935', '1962', '1951', '1954', '1952',
       '1958', '1918', '1943', '1921', '1941', '1939', '1940', '1950',
       '1946', '1916', '1934', '1948', '1933', '1929', '1936', '1925',
       '1932', '1928', '1917', '1919', '1926', '1937', '1931', '1920',
       '1942', '1922', '1927', '1923', '1924', '1915', '1914', '1913',
       '1911', '2010', '1912', '1909', '1910', '1905', '1898', '1899',
       '2012', '1908', '2013', '1906', '2023', '1907', '2011', '1904',
       '2024', '2015', '1897', '1901', '1902', '1900', '1903', '2014',
       '2025', '2027', '2026', '2028', '2029', '1896'], dtype=object)

In [84]:
df2[(df2['isAdult'].astype('int') == 1)].shape

(9311, 9)

In [85]:
df3 = df2[(df2['isAdult'].astype('int') == 0)]
print(df3.head())
print(df3.shape)

          tconst titleType                 primaryTitle  \
11636  tt0011801     movie             Tötet nicht mehr
13079  tt0013274     movie  Istoriya grazhdanskoy voyny
15174  tt0015414     movie       La tierra de los toros
15482  tt0015724     movie                Dama de noche
21267  tt0021617     movie            Arizona Territory

                     originalTitle isAdult startYear endYear runtimeMinutes  \
11636             Tötet nicht mehr       0      2019      \N             \N
13079  Istoriya grazhdanskoy voyny       0      2021      \N            133
15174       La tierra de los toros       0      2000      \N             60
15482                Dama de noche       0      1993      \N            102
21267            Arizona Territory       0      1950      \N             56

                      genres
11636           Action,Crime
13079            Documentary
15174                     \N
15482  Drama,Mystery,Romance
21267                Western
(455915, 9)

In [86]:
df3.runtimeMinutes.unique()

array(['\\N', '133', '60', '102', '56', '100', '87', '81', '86', '101',
       '92', '88', '118', '99', '89', '80', '146', '79', '78', '77', '75',
       '82', '95', '125', '58', '90', '108', '120', '85', '98', '110',
       '70', '96', '61', '107', '122', '97', '115', '105', '84', '93',
       '91', '106', '71', '53', '112', '113', '167', '68', '72', '109',
       '83', '67', '55', '121', '126', '94', '138', '128', '252', '73',
       '148', '66', '64', '69', '57', '103', '104', '140', '117', '74',
       '270', '59', '76', '63', '150', '124', '65', '62', '114', '127',
       '111', '136', '54', '116', '260', '52', '156', '169', '193', '143',
       '170', '51', '287', '144', '119', '166', '130', '192', '171', '50',
       '161', '155', '165', '242', '183', '47', '149', '129', '152',
       '132', '137', '228', '154', '135', '240', '48', '181', '175',
       '174', '123', '179', '157', '139', '45', '131', '145', '230',
       '246', '151', '173', '134', '158', '142', '218', '141', '315',
       '147', '160', '280', '207', '46', '225', '159', '49', '163', '182',
       '162', '164', '168', '177', '239', '178', '201', '153', '176',
       '248', '204', '220', '208', '172', '210', '330', '212', '180',
       '188', '10', '197', '219', '209', '196', '190', '205', '18', '186',
       '21', '191', '189', '238', '185', '234', '226', '232', '453',
       '216', '200', '221', '224', '203', '253', '184', '275', '251',
       '23', '202', '227', '264', '217', '195', '187', '2', '245', '302',
       '317', '763', '311', '278', '273', '442', '235', '269', '261',
       '288', '40', '285', '255', '194', '222', '229', '199', '437',
       '367', '566', '410', '15', '284', '272', '215', '267', '357',
       '873', '358', '335', '265', '237', '214', '213', '247', '206', '3',
       '501', '735', '271', '298', '236', '439', '316', '328', '620',
       '223', '198', '277', '28', '700', '257', '20', '360', '371', '299',
       '665', '17', '211', '400', '9', '29', '308', '659', '426', '465',
       '1500', '321', '11', '485', '42', '27', '243', '250', '33', '19',
       '385', '38', '338', '776', '340', '231', '43', '254', '32', '380',
       '345', '233', '13', '16', '5', '420', '580', '323', '312', '22',
       '30', '5220', '25', '258', '6', '336', '300', '2880', '263', '366',
       '301', '4', '1970', '551', '720', '262', '392', '999', '402',
       '540', '395', '305', '414', '363', '268', '259', '719', '429',
       '37', '325', '279', '350', '241', '296', '388', '450', '669', '8',
       '44', '390', '35', '10062', '36', '2160', '26', '14', '12', '480',
       '368', '289', '326', '282', '570', '384', '1325', '369', '319',
       '320', '495', '460', '28643', '354', '331', '663', '244', '256',
       '520', '435', '372', '1320', '468', '7', '1', '41', '840', '34',
       '950', '276', '375', '409', '31', '39', '292', '675', '397',
       '1452', '310', '293', '24', '249', '373', '343', '339', '641',
       '361', '294', '283', '332', '396', '7200', '1440', '364', '425',
       '356', '1800', '502', '680', '761', '274', '2400', '500', '1669',
       '322', '605', '307', '398', '865', '266', '304', '490', '418',
       '518', '393', '353', '324', '842', '545', '291', '9000', '613',
       '411', '333', '14400', '404', '416', '476', '286', '382', '780',
       '341', '3077', '43200', '1200', '352', '600', '334', '1151', '549',
       '6000', '2905', '5460', '467', '448', '607', '379', '303', '1559',
       '900', '4080', '346', '406', '1260', '623', '378', '746', '1184',
       '365', '383', '359', '281', '51420', '1100', '601', '290', '660',
       '295', '808', '447'], dtype=object)

In [87]:
df3[(df3['endYear'] != '\\N')].shape
df3[(df3['isAdult'] != 0)].head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2949141,tt13605848,movie,Enakkul Oru Kadhal,Enakkul Oru Kadhal,0,2009,\N,97,Drama
2949146,tt13605858,movie,Balam,Balam,0,2009,\N,\N,Drama
2949182,tt13605918,movie,Vairam,Vairam,0,2009,\N,123,Drama
2949209,tt13605964,movie,Thozhi,Thozhi,0,2009,\N,125,Drama
2949210,tt13605968,movie,Slay,Slay,0,2017,\N,\N,Documentary
2949212,tt13605970,movie,Pachiyapuram,Pachiyapuram,0,2009,\N,\N,Drama
2949224,tt13605994,movie,Pinju Manasu,Pinju Manasu,0,2009,\N,135,Drama
2949228,tt13606000,movie,Coffee Lovers,Coffee Lovers,0,2006,\N,90,Comedy
2949237,tt13606016,movie,Bangaru Padam,Bangaru Padam,0,2015,\N,\N,Drama
2949254,tt13606044,movie,Meendum Meendum Nee,Meendum Meendum Nee,0,2009,\N,\N,Drama

In [88]:
df4 = df3

In [89]:
block = pd.DataFrame(df4)
block.pop('isAdult')
block.pop('endYear')
block.head(10)

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres
11636,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,2019,\N,"Action,Crime"
13079,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,2021,133,Documentary
15174,tt0015414,movie,La tierra de los toros,La tierra de los toros,2000,60,\N
15482,tt0015724,movie,Dama de noche,Dama de noche,1993,102,"Drama,Mystery,Romance"
21267,tt0021617,movie,Arizona Territory,Arizona Territory,1950,56,Western
21704,tt0022064,movie,Lebbra bianca,Lebbra bianca,1951,100,Drama
25107,tt0025557,movie,El negro que tenía el alma blanca,El negro que tenía el alma blanca,1951,87,"Drama,Musical"
30442,tt0030998,movie,You're Only Young Twice,You're Only Young Twice,1952,81,Comedy
30891,tt0031458,movie,El huésped del sevillano,El huésped del sevillano,1970,86,Comedy
31036,tt0031603,movie,Made in Germany - Die dramatische Geschichte d...,Made in Germany,1957,101,"Biography,Drama"

In [1]:
import os
os.getcwd()

'/Users/davidkatilius/Documents/Jupyter_Notebook'

In [92]:
block.to_csv(r'cleaned_title_data.csv', index=False)

In [96]:
display(block.shape)

(455915, 7)

In [98]:
df5 = block[(block['titleType'] == 'movie') & (df['startYear'] != '\\N')]
print(movies_from_1950.head())
print(movies_from_1950.shape)

tconst            tt9916730
titleType             movie
primaryTitle         6 Gunn
originalTitle        6 Gunn
startYear              2017
runtimeMinutes          116
genres                   \N
Name: 9093239, dtype: object